*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.icon{
    height: 30px;
    width: 40px;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
background-color: greenyellow;
justify-content:space-between;
}
nav{
    flex:1;
    text-align: right;
}
.nav-links{
    display: inline-block;
    list-style-type: none;
}
.nav-links li{
    margin-right: 20px;
    display: inline;
}
a{
    text-decoration: none;
    color: black;
}
.nav-links a:hover{
cursor: pointer;
color: whitesmoke;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bgImage{
    width: 250px;
    height: 50vh;
    padding: 20px;
}
.cart:hover{
    color: #f4f4f4;
}
.cart{
    border:border-box;
} 
h1{
    margin-left: 340px;
}
.proImage{
    width: 200px;
    height: 40vh;
}
.products{
    padding: 30px;
    margin: 40px;
}
h2{
    
}
.small-container{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}