
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.icon{
    height: 30px;
    width: 40px;
}
.navbar {
display: flex;
align-items: center;
padding: 20px;
background-color: greenyellow;
justify-content: space-between;
}
nav{
    flex:1;
    text-align: right;
}
.nav-links{
    display: inline-block;
    list-style-type: none;
}
.nav-links li{
    margin-right: 20px;
    display: inline;
}
a{
    text-decoration: none;
    color: black;
}
.nav-links a:hover{
cursor: pointer;
color: whitesmoke;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bgImage{
    width: 250px;
    height: 50vh;
    padding: 20px;
}
.cart:hover{
    color: #f4f4f4;
}
.cart{
    border:border-box;
} 
h1{
    margin-left: 340px;
}
.proImage{
    width: 200px;
    height:50%;
    transition: transform 0.5s;
}
.woofer{
    width: 300px;
    height: 30vh;
    transition: transform 0.5s;
}
.bike{
    width: 150px;
    height: 40vh;
    transition: transform 0.5s;
}
.products{
margin:70px 0;
}
.cctv{
    width: 150px;
    height: 40vh;
    transition: transform 0.5s;
}
.small-container{
    flex-basis: 50%;
    min-width: 250px;
    margin-bottom: 30px;
    display: flex;
    gap: 50px;
}
body{
    background-color: darkorange;
}
.rating .fa{
    color: darkred;
}
.cctv:hover{
    transform: translateY(-5px);
}
.woofer:hover{
    transform: translateY(-5px);
}
.bike:hover{
    transform: translateY(-5px); 
}
.proImage:hover{
    transform: translateY(-5px);
}
.footer{
    background: yellowgreen;
    font-size: 14px;
    padding: 40px 0 10px;
    display: flex;
    justify-content: space-around;
}

.footer p{
    color: #f4f4f4;
}

.footer-col-2{
    text-align: center;
}
.footer-col-2 img{
    width: 80px;
    height: 10vh;
}
.footer-col-3{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.buyButton{
    border: 2px solid darkred;
    background: darkred;
    width: 80px; 
    color: #f4f4f4;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}
.buyButton:hover{
    background: yellow;
}
#Available{
    color: darkred;
    font-size: larger;
}