*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.icon{
    height: 30px;
    width: 40px;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
background-color: black;
justify-content:space-between;
}
nav{
    flex:1;
    text-align: right;
}
.nav-links{
    display: inline-block;
    list-style-type: none;
}
.nav-links li{
    margin-right: 20px;
    display: inline;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.nav-links a:hover{
cursor: pointer;
color: yellow;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
